<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>レシピの変更</title>
</head>
<body>
	<div th:if="${data==null}">
		<p th:text="${message}"></p>
	</div>
			<div th:if="${recipe != null}">
				<form name="update" action="/edit" method="post" th:object="${recipe}">
					
						<input type="hidden"  th:field="*{id}">
						<h3>レシピ名</h3>
						<input type="text" th:placeholder="${recipe.name}" ></input>
						
						<h3>コメント</h3>
						<input type="text" th:placeholder="${recipe.comment}"></input>
						
						
						<h3>作り方</h3>
						<div class="step_container">
							<div th:each="step,iterStat:${steps}" class="step_block">
							
									<h3 th:text="${'手順'+step.stepNumber}"></h3>
									<input type="text" th:placeholder="${step.content}"></input>
				
									<div th:if="${step.img !=null}">
									<h3 th:text="${'画像'+step.stepNumber}"></h3>
									<p th:text="${step.img}"></p>
									</div>	
								
							</div>
						</div>
						<p></p>
						
						<p></p>
						<input type="submit"  value="更新"/>
						<input type="hidden" id="lastNumber"
						th:value="${steps[steps.size()-1].stepNumber}">
				</form>
				<button onclick="addStep()">+手順追加</button>
			</div>
	
</body>
<script>
	let stepIndex=parseInt(document.getElementById('lastNumber').value)+1;
	function addStep(){
	const stepContainer=document.querySelector('.step_container');
	const stepBlock = document.createElement('div');
	stepBlock.innerHTML=`
	<h3>手順${stepIndex}</h3>
	<input type="text" placeholder="新しい手順を書いてください">
	<h3>画像${stepIndex}</h3>
	<input type="text" placeholder="新しい画像を入力してください">
	`;
	stepContainer.appendChild(stepBlock);
	stepIndex++;
	}
</script>
</html>