<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>レシピの変更</title>
</head>
<body>
	<div th:if="${data==null}">
		<p th:text="${message}"></p>
	</div>
			<div th:if="${formModel != null}">
				<form name="update" action="/edit" method="post" th:object="${formModel}">
						<input type="hidden" name="id" th:field="*{id}"/>
						<label for="dish-name">料理名</label>
						<input type="text" name="name" id="dish-name" th:field="*{name}">
						
						
						<label for="dish-comment">コメント</label>
						<input type="text" name="comment" id="dish-comment" th:field="*{comment}">
						<input type="submit"  class="btn btn-primary"value="更新"/>
				</form>
			</div>
	
</body>
</html>