<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome to Cooking World!</title>
<style>
	img{
		max-width: 300px; display: block;
	}
</style>
 </head>

<body>
	<p th:if="${username}" th:text="'こんにちは、' + ${username} + 'さん！'"></p>
	<p th:unless="${username}">ログインしていません</p>
	
	<p th:if="${result}" th:text="${result}"></p>
	<p th;if="${exception}" th:text="${exception}"></p>
	
	<h1 th:text="${msg}"></h1>
 	<p>レシピを検索してください</p>
 	<form method="get" action="/search">
 		<input type="text" name="dish-name" placeholder="料理名をどうぞ">
 		<button type="submit">検索</button>
 	</form>
 	
	<div th:if="${hoge != null and !#strings.isEmpty(hoge)}">
	    <div th:if="${#lists.isEmpty(data)}">
	        <p th:text="${hoge} + ' に関するレシピはみつかりません'"></p>
	    </div>
	    <div th:unless="${#lists.isEmpty(data)}">
	        <p th:text="${hoge} + ' に関する検索結果を表示します'"></p>
	    </div>
	</div>


		      <h3>レシピ</h3>
		   
		    
		      <div th:each="item : ${data}">
				<a th:href="@{/recipe/{id}(id=${item.id})}" th:text="${item.name}"></a>
				<div th:if="${item.mainImg != null}">
					<img th:src="${item.mainImg.Path}" alt="レシピ画像"/>

				</div>
				
		      </div>
	<a th:href="@{/create}">レシピをつくる</a>	   
 </body>
 </html>
