<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome to Cooking World!</title>

 </head>

<body>

	<h1 th:text="${msg}"></h1>
 	<p>レシピを検索してください</p>
 	<form method="get" action="/search" th:object="${formModel}">
 		<input type="text" name="dish-name" placeholder="料理名をどうぞ">
 		<button type="submit">検索</button>
 	</form>
 	
	<div th:if="${hoge != null and !#strings.isEmpty(hoge)}">
	    <div th:if="${#lists.isEmpty(data)}">
	        <p th:text="${hoge} + ' に関するレシピはみつかりません'"></p>
	    </div>
	    <div th:unless="${#lists.isEmpty(data)}">
	        <p th:text="${hoge} + ' に関する検索結果を表示します'"></p>
	    </div>
	</div>

		
		
		   
		      <h3>Name</h3>
		   
		    
		      <div th:each="item : ${data}">
		        <p th:text="${item.name}"></p>
		        
		      </div>
		   
 </body>
 </html>
