<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>材料マスタ</title>

</head>
<body>
	
	<h2>材料一覧</h2>
	<div th:if="${result_message}">
	  <p th:text="${addedName} + '：' + ${result_message}"></p>
	</div>
	<div th:each="mate:${mates}">
		
			<p th:text="${mate.name}+':'+${mate.category}"></p>

	</div>
<h2>材料マスタ編集</h2>
<form action="/add_mate" method="post" th:object="${mateRequest}">
	<input type="hidden" th:field="*{id}">
	<input type="text" placeholder="材料名（正規表現）" th:field="*{name}">
		<select th:field="*{category}">
		  <option th:each="i : ${categories}" th:value="${i.id}" th:text="${i.name}"></option>
		</select>
	<input type="submit">
</form>
<h2>仮登録材料一覧</h2>	
	<div th:each="temp:${tempDates}">
		<p th:text="${temp.name}"></p>
	</div>
</body>
</html>