<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div th:if="recipe != null">
	<h3>レシピ名</h3>
	<p th:text="${recipe.name}"></p>
	<h3>完成画像</h3>
	<p th:text="${recipe.mainImg}"></p>
	<h3>コメント</h3>
	<p th:text="${recipe.comment}"></p>
	<h3>材料</h3>
		<div th:each="amo:${amos}">
			<p th:text="${amo.mate.name}"></p>
			<p th:text="${amo.amount}"></p>
		</div>
	<h3>作り方</h3>
	<div th:each="step:${steps}">
		<h3 th:text="${'手順'+step.stepNumber}"></h3>
		<p th:text="${step.content}"></p>
		<div th:if="${step.img !=null}">
		<h3 th:text="${'画像'+step.stepNumber}"></h3>
		<p th:text="${step.img}"></p>
		</div>
	</div>
	<a th:href="@{/edit/{id}(id=${recipe.id})}"><button>このレシピを編集する</button></a>
	<a href="#" th:onclick="'return confirmDelete('+${recipe.id}+');'">このレシピを削除する</a>
	
</div>


</body>
<script>
	function confirmDelete(id){
		if(confirm('本当にこのレシピを消しますか？')){
			window.location.href="/delete/"+id;
		}else{
			return false;
		}
	}
</script>
</html>