<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- HTML側にCSRF情報を持たせる（例：metaタグ） -->
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_parameterName" th:content="${_csrf.parameterName}">

</head>
<body>

<div th:if="recipe != null">
	<h3>レシピ名</h3>
	<p th:text="${recipe.name}"></p>
	<h3>完成画像</h3>
	<p th:text="${recipe.mainImg}"></p>
	<h3>コメント</h3>
	<p th:text="${recipe.comment}"></p>
	<h3>材料</h3>
		<div th:each="amo:${amos}">
			<p th:text="${amo.mate.name}"></p>
			<p th:text="${amo.amount}"></p>
		</div>
	<h3>作り方</h3>
	<div th:each="step:${steps}">
		<h3 th:text="${'手順'+step.stepNumber}"></h3>
		<p th:text="${step.content}"></p>
		<div th:if="${step.img !=null}">
		<h3 th:text="${'画像'+step.stepNumber}"></h3>
		<p th:text="${step.img}"></p>
		</div>
	</div>
	<a th:href="@{/edit/{id}(id=${recipe.id})}"><button class="edit_btn">編集</button></a>
	<button class="delete_btn" th:attr="data_id=${recipe.id}">削除</button>
	
</div>


</body>
<script>
	window.addEventListener('DOMContentLoaded',()=>{
		const deleteBtn = document.querySelector('.delete_btn');
		deleteBtn.addEventListener('click',()=>{
			const id = deleteBtn.getAttribute('data_id');
			if(confirm('本当にこのレシピを削除しますか？')){
				const form = document.createElement('form');
				form.method='post';
				form.action=`/delete/${id}`;
				document.body.appendChild(form);
				// ✅ CSRFトークン取得（metaから）
							const token = document.querySelector('meta[name="_csrf"]').content;
							const param = document.querySelector('meta[name="_csrf_parameterName"]').content;

							// ✅ hidden inputを作って追加
							const hiddenInput = document.createElement('input');
							hiddenInput.type = 'hidden';
							hiddenInput.name = param; // _csrf ではなく parameterName を使う！
							hiddenInput.value = token;
							form.appendChild(hiddenInput);

				form.submit();
			}
		});
		
	});
	
</script>
</html>